@page "/"
@using SharedUI

    <div class="container-wfull container-m-1">
        <Carousel IsRTL="true"
                  Items="CarouselItems"
                  ShowNavigationButtons="true"
                  AutoPlay="true"
                  IsIndicators="true"
                  bsClass=""
                  Width=""
                  Height="30rem"
                  ItemChangeCall="OnCarouselItemChange" />
    </div>
    <div class="container-wfull container-shadow-primary-50 container-p-1 container-m-1">
        <LoanCalculator InterestRate="26" RealInterestRate="56" DifferenceTitle="کارمزد خدمات"
                    MinLoanAmount="50000000" MaxLoanAmount="1000000000" LoanStep="10000000" MinPaymentMonths="1"
                    MaxPaymentMonths="240" MaxGraceDays="365" MaxPaymentInterval="24" />
    </div>
    <div class="container-wfull container-shadow-primary-50 container-p-1 container-m-1">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-2">
            @foreach (var item in sellableItems.Where(s => s.TemplateType == "SuppliersBanner").ToList())
            {
                @* <div class="col-12 col-md-6 col-lg-4"> *@
                <div class="col">
                    <a href="@item.ClickTarget" class="" target="_blank">
                        <img src="@item.ImageUrl" alt="@item.Title" class="banner-image" />
                    </a>
                </div>
            }
        </div>
    </div>
    <div class="container-wfull container-shadow-primary-50 container-p-1 container-m-1">
        
        <div class="scroll-wrapper">
            <button class="scroll-btn left" onclick="scrollContainer(-1)">
                <i class="bi bi-chevron-left"></i>
            </button>
            <div class="horizontal-scroll-container d-flex">
                @foreach (var item in sellableItems.Where(s => s.TemplateType == "Product").ToList())
                {
                <a href="@item.ClickTarget" class="product-item mx-1" target="_blank">
                    <img src="@item.ImageUrl" alt="@item.Title" class="product-image" />
                    <h6>@item.Title</h6>
                    <p>@item.SubTitle</p>
                    <p class="discounted-price w-100 text-start mb-0">
                        @item.DiscountedPrice.ToString("N0") تومان
                        <span class="discount-badge float-end">@item.DiscountPercentage%</span>
                    </p>

                    <p class="original-price align-self-end justify-content-end fw-light fs-6 text-body-tertiary">@item.OriginalPrice.ToString("N0") تومان</p>
                </a>
                }
            </div>
            <button class="scroll-btn right" onclick="scrollContainer(1)"><i class="bi bi-chevron-right"></i></button>
        </div>
  
        
    </div>



@code {
    private List<CarouselItem> CarouselItems { get; set; } = new List<CarouselItem>();
    private List<SellableContainer> Containers { get; set; } = new List<SellableContainer>();
    private List<SellableItem> sellableItems { get; set; } = new List<SellableItem>();

    protected override async Task OnInitializedAsync()
    {
        // بارگذاری داده‌های Carousel از دیتابیس
        //CarouselItems = await DbContext.CarouselItems.ToListAsync();
        if (!CarouselItems.Any())
        {
            CarouselItems = new List<CarouselItem>
            {
                new CarouselItem
                {
                    ImageUrl = "./_content/SharedUI/img/home/carousel/1.jpg",
                    ClickTarget = "#",
                    Title = "<h2>بهترین قیمت‌ها</h2>",
                    Text = "<p>تنوعی بی‌نظیر از لوازم خانگی</p>",
                    ButtonText = "مشاهده کنید",
                    ButtonTarget = "#",
                    DisplayDuration = 5000
                },
                new CarouselItem
                {
                    ImageUrl = "./_content/SharedUI/img/home/carousel/2.jpg",
                    ClickTarget = "#",
                    Title = "<h2>هم ایرانی، هم خارجی</h2>",
                    Text = "<p>نوسوار شوید...</p>",
                    ButtonText = "مشاهده",
                    ButtonTarget = "#",
                    DisplayDuration = 5000
                },
                new CarouselItem
                {
                    ImageUrl = "./_content/SharedUI/img/home/carousel/3.jpg",
                    ClickTarget = "#",
                    Title = "<h2>تجهیزات صنعتی</h2>",
                    Text = "<p>واسه اینکه چرخ تولید بهتر بچرخه...</p>",
                    ButtonText = "دریافت تسهیلات",
                    ButtonTarget = "#",
                    DisplayDuration = 5000
                },
                new CarouselItem
                {
                    ImageUrl = "./_content/SharedUI/img/home/carousel/4.jpg",
                    ClickTarget = "#",
                    Title = "<h2>کشاورزی نوین</h2>",
                    Text = "<p>انواع ماشین آلات کشاورزی</p>",
                    ButtonText = "دریافت تسهیلات",
                    ButtonTarget = "#",
                    DisplayDuration = 5000
                },
                new CarouselItem
                {
                    ImageUrl = "./_content/SharedUI/img/home/carousel/5.jpg",
                    ClickTarget = "#",
                    Title = "<h2>خودرو سنگین</h2>",
                    Text = "<p>برای مردان جاده...</p>",
                    ButtonText = "دریافت تسهیلات",
                    ButtonTarget = "#",
                    DisplayDuration = 5000
                },
                new CarouselItem
                {
                    ImageUrl = "./_content/SharedUI/img/home/carousel/6.jpg",
                    ClickTarget = "#",
                    Title = "<h2>تجهیزات اداری</h2>",
                    Text = "<p>در مسیر موفقیت...</p>",
                    ButtonText = "دریافت تسهیلات",
                    ButtonTarget = "#",
                    DisplayDuration = 5000
                },
                new CarouselItem
                {
                    ImageUrl = "./_content/SharedUI/img/home/carousel/7.jpg",
                    ClickTarget = "#",
                    Title = "<h2>طلا و جواهر</h2>",
                    Text = "<p>برای شروع زندگی...</p>",
                    ButtonText = "دریافت تسهیلات",
                    ButtonTarget = "#",
                    DisplayDuration = 5000
                },
                new CarouselItem
                {
                    ImageUrl = "./_content/SharedUI/img/home/carousel/8.jpg",
                    ClickTarget = "#",
                    Title = "<h2>کالای دیجیتال</h2>",
                    Text = "<p>همگام با پیشرفت دیجیتالی</p>",
                    ButtonText = "دریافت تسهیلات",
                    ButtonTarget = "#",
                    DisplayDuration = 5000
                }

            };
            //await DbContext.CarouselItems.AddRangeAsync(CarouselItems);
            //await DbContext.SaveChangesAsync();
        }

        // بارگذاری کانتینرها و آیتم‌ها
        //var sellableItems = await DbContext.SellableItems.ToListAsync();
        if (!sellableItems.Any())
        {
            sellableItems = new List<SellableItem>
            {
                // دسته‌بندی‌ها (فقط تصویر و لینک)
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/offers/1.webp", ClickTarget = "https://B2n.ir/rs2224", TemplateType = "SuppliersBanner", Title = "خودرو تویوتا" },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/offers/2.webp", ClickTarget = "https://B2n.ir/zp2486", TemplateType = "SuppliersBanner", Title = "طلای عروس" },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/offers/3.webp", ClickTarget = "https://B2n.ir/qt2332", TemplateType = "SuppliersBanner", Title = "لپتاپ گیمینگ" },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/offers/4.webp", ClickTarget = "https://B2n.ir/dz6623", TemplateType = "SuppliersBanner", Title = "کشنده" },

                // بنرهای تبلیغاتی (تصویر، عنوان، متن)
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/offers/1.webp", ClickTarget = "https://B2n.ir/rs2224", TemplateType = "ImageWithText", Title = "خودرو تویوتا", Text = "محصولات تویوتا، تحویل 3 روزه" },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/offers/2.webp", ClickTarget = "https://B2n.ir/zp2486", TemplateType = "ImageWithText", Title = "طلای عروس", Text = "این وام فقط واسه عروس خانوماست" },
                //new SellableItem { ImageUrl = "./_content/SharedUI/img/home/offers/3.webp", ClickTarget = "https://B2n.ir/qt2332", TemplateType = "ImageWithText", Title = "لپتاپ گیمینگ", Text = "به وقت بازی" },
                //new SellableItem { ImageUrl = "./_content/SharedUI/img/home/offers/4.webp", ClickTarget = "https://B2n.ir/dz6623", TemplateType = "ImageWithText", Title = "کشنده", Text = "نهایت قدرت؛ زیر پای تو" },

                // محصولات (کالاها با جزئیات)
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/1.webp", ClickTarget = "#", TemplateType = "Product", Title = "گوشی سامسونگ", SubTitle = "Galaxy A35", OriginalPrice = 23600000, DiscountedPrice = 21004000, DiscountPercentage = 11 },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/2.webp", ClickTarget = "#", TemplateType = "Product", Title = "لپ‌تاپ اپل", SubTitle = "MacBook Air MXD33 2024 LLA", OriginalPrice = 114000000, DiscountedPrice = 108699000, DiscountPercentage = 5 },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/3.webp", ClickTarget = "#", TemplateType = "Product", Title = "ساعت کاسیو", SubTitle = "AEQ-110W-1A3VDF", OriginalPrice = 4180000, DiscountedPrice = 3845600, DiscountPercentage = 8 },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/4.webp", ClickTarget = "#", TemplateType = "Product", Title = "PS5", SubTitle = "PlayStation 5 Slim Digital Edition", OriginalPrice = 41300000, DiscountedPrice = 38822000, DiscountPercentage = 6 },

                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/5.webp", ClickTarget = "#", TemplateType = "Product", Title = "مانیتور اداری 24 اینچ میوا", SubTitle = "24HM2FVY-A3", OriginalPrice = 7500000, DiscountedPrice = 7019000, DiscountPercentage = 6 },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/6.webp", ClickTarget = "#", TemplateType = "Product", Title = "لپ‌تاپ ایسوس", SubTitle = "TUF Gaming F15", OriginalPrice = 79000000, DiscountedPrice = 74500000, DiscountPercentage = 6 },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/7.webp", ClickTarget = "#", TemplateType = "Product", Title = "ماشین لباسشویی پاکشوما", SubTitle = "TLAB ۱۲۰۱ S", OriginalPrice = 21500000, DiscountedPrice = 16599000, DiscountPercentage = 23 },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/8.webp", ClickTarget = "#", TemplateType = "Product", Title = "سرویس چینی زرین ایران", SubTitle = "کواترو ادلین", OriginalPrice = 7000000, DiscountedPrice = 5999000, DiscountPercentage = 14 },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/9.webp", ClickTarget = "#", TemplateType = "Product", Title = "جارو برقی رباتیک شیائومی", SubTitle = "Robot Vacuum X20 Plus", OriginalPrice = 35000000, DiscountedPrice = 32999000, DiscountPercentage = 6 },
                new SellableItem { ImageUrl = "./_content/SharedUI/img/home/products/10.webp", ClickTarget = "#", TemplateType = "Product", Title = "ماشین ظرفشویی پاکشوما", SubTitle = "PDV 3513 W", OriginalPrice = 43736000, DiscountedPrice = 37309000, DiscountPercentage = 15 },
            };
            //await DbContext.SellableItems.AddRangeAsync(sellableItems);
            //await DbContext.SaveChangesAsync();
        }

        // تنظیم کانتینرها
        Containers = new List<SellableContainer>
        {
            // کانتینر دسته‌بندی‌ها (Swipeable)
            new SellableContainer
            {
                ContainerTemplate = context => @<div class="d-flex flex-nowrap">
                                                    @context.RenderItems
                                                </div>,
                ItemTemplate = context => @<a href="@context.ClickTarget" class="category-item" target="_blank">
                    <img src="@context.ImageUrl" alt="@context.Title" class="category-image" />
                    <p>@context.Title</p>
                </a>,
                Items = sellableItems.Where(s => s.TemplateType == "ImageOnly").ToList()
            },
            // کانتینر بنرهای تبلیغاتی (Wrap)
            new SellableContainer
            {
                ContainerTemplate = context => @<div class="d-flex flex-wrap">
                    @context.RenderItems
                </div>,
                ItemTemplate = context => @<a href="@context.ClickTarget" class="banner-2-item" target="_blank">
                    <img src="@context.ImageUrl" alt="@context.Title" class="banner-image" />
                    @**<h5>@context.Title</h5> **@
                    @*<p>@context.Text</p>*@
                </a>,
                Items = sellableItems.Where(s => s.TemplateType == "ImageWithText").ToList()
            },
            // کانتینر محصولات (Wrap + Swipeable)
            new SellableContainer
            {
        ContainerTemplate = context => @<div class="scroll-wrapper">
                                           <!-- <button class="scroll-btn left" onclick="scrollContainer(-1)">&gt;</button> -->
                                            <button class="scroll-btn left" onclick="scrollContainer(-1)">
                                                <i class="bi bi-chevron-left"></i>
                                            </button>
                                            <div class="horizontal-scroll-container">
                                                @context.RenderItems
                                            </div>
                                            <button class="scroll-btn right" onclick="scrollContainer(1)"><i class="bi bi-chevron-right"></i></button>
                                        </div>,
                                        ItemTemplate = context => @<a href="@context.ClickTarget" class="product-item mx-1" target="_blank">
                                            <img src="@context.ImageUrl" alt="@context.Title" class="product-image" />
                                            <h6>@context.Title</h6>
                                            <p>@context.SubTitle</p>
                                            <p class="discounted-price w-100 text-start mb-0">@context.DiscountedPrice.ToString("N0") تومان 
                                            <span class="discount-badge float-end">@context.DiscountPercentage%</span>
                                            </p>
    
                                            <p class="original-price me-auto mt-0 fw-light fs-6 text-body-tertiary">@context.OriginalPrice.ToString("N0") تومان</p>
                                        </a>,
                Items = sellableItems.Where(s => s.TemplateType == "Product").ToList()
            }
        };
    }

    private void OnCarouselItemChange(CarouselItem item)
    {
        System.Console.WriteLine($"Carousel item changed to: {item.Title}");
    }
}